<style>
/* Headings */
  h1,h2,h3,h4,h5,h6{
    font-family: 'Tahoma';
    color: #246589;
  }
    h1{ font-size:16pt; }
    h2{ font-size:14pt; }
    h3{ font-size:12pt; }
    h4{ font-size:11pt; }
    h5{ font-size:11pt; }
    h6{ font-size:11pt; }
    
    /* body text */
      body{
        font-family: 'Tahoma';
        font-size:10.5pt;
      }
      
    /* TOC */
      .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        color: #fff;
          background-color: #4bcddb;
          border-color: #4bcddb;
      }
      
    /* Tabbed sections */
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #4bcddb;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        color: #ffffff;
        background-color: #4bcddb;
    }
    
    /* scroll y-axis */
  .superbigimagey{
      overflow-y: scroll;
      white-space: nowrap;
      max-width: 10in;
      max-height: 6in;
  }
  .superbigimagey img{
     max-height: none;
  }
  
  div.warning { background-color:#fbf3d5; border-radius: 5px; padding: 20px;}
  div.nowarning { background-color:#caf8ff; border-radius: 5px; padding: 20px;}
  
  
  /* Tables */
  th,td{
    padding:3px 30px 3px 30px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4bcddb;
    color: white;
  }
</style>

